rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /studentProfiles/{docId} {
      allow read, write: if true;
    }
    match /careerRecommendations/{docId} {
      allow read, write: if true;
    }
  }
}
